@layer components {
  .container {
    margin-top: 10px;
  }
  @media (min-width: 576px) {
    .container {
      margin-top: 20px;
    }
  }

  @media (min-width: 768px) {
    .container {
      margin-top: 20px;
    }
  }

  @media (min-width: 992px) {
    .container {
      margin-top: 20px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      margin-top: 20px;
    }
  }

  @media (min-width: 1400px) {
    .container {
      margin-top: 20px;
    }
  }
}
